<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Interface de modération - WinaChat</title>
    <!-- Bootstrap core CSS-->
    <link type="text/css" href="bootstrap.css" rel="stylesheet">
    <link type="text/css" href="style.css" rel="stylesheet">
    <link type="text/css" href="admin.css" rel="stylesheet">
  </head>

  <body class="bodyadmin">
    <!-- Navigation-->
      <nav class="navbar navbar-expand-lg navbar-light bg-dark text-white">
        <a class="navbar-brand text-white" href="accueil">Winachat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" id="navLeft" href="#"><span class="fontawesome-align-justify"></span></a>
            </li>
          </ul>
          <div class="form-inline">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fontawesome-align-justify"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="accueil">Accueil</a>
              <a class="dropdown-item" href="profil">Mon profil</a>
              <a class="dropdown-item" href="#" id="disconnection">Déconnexion</a>
            </div>
            <span> <%= name %></span>
          </div>
        </div>
      </nav>

<!-- Fenêtre hsitorique conversation  -->
<div class="windowHistory disparait">
  <span class="fontawesome-remove" id="windowClose"></span>
  <h2 class="text-center">Historique conversation:</h2>
  <div class="divHistoPop">
  </div>
</div>

<!-- Fin fenêtre historique conversation -->

<!-- Partie t'chat -->
  <!-- Affichage de conversation en attente -->
    <div class="container-fluid">
        <div class="row grisfondb">
            <div class="col-sm-2 backGrey" id="leftmenuadmin">
              <ul>
                <li><a href="accueil">Accueil</a></li>
                <li><a href="interface">Interface de modération</a></li>
                <% if(grade === 'administrateur') { %>
                <li><a href="administration">Administration</a></li>
                <% } %>
              </ul>
            </div>
          <div class="col-sm-2 backGrey partLeftInterface border-right border-secondary p-1">
            <ul class="w-100 bg-dark rounded mt-2 statusDiv">
              <li class="typeStatus text-center" id="adminstatusOff"><span class="text-danger fontawesome-circle fontstatus"></span> <span class="text-white">Hors-ligne <span class="fontawesome-angle-down"></span></span></li>
              <li class="typeStatus text-center" id="adminstatusBreak"><span class="text-warning fontawesome-circle fontstatus"></span> <span class="text-white">En pause <span class="fontawesome-angle-down"></span></span></li>
              <li class="typeStatus text-center" id="adminstatusOn"><span class="text-success fontawesome-circle fontstatus"></span> <span class="text-white">En ligne <span class="fontawesome-angle-down"></span></span></li>
            </ul>
            <h3 class="text-left font-weight-bold mt-2 ml-2">Chats en attente</h3>
              <ul class="list-group list-group-flush newClient">
              </ul>
            <div class="operateurinline mt-5">  
              <h3 class="font-weight-bold">Opérateurs</h3>
              <ul class="list-group list-group-flush adminLog">
              </ul>
            </div>
          </div>
          <!-- Affichage du tchat et conversation en cours -->
          <div class="col-sm-10">
              <div class="row">
                <div class="col-sm-9 p-2 backGrey">
                  <div class='p-2 unitTchat'>

                        <div class="clientNow fixed-bottomMax">
                          <% for(var i=0; i<client.length; i++) {%>
                          <button type='button' data-newTchatClient="<%= client[i]._idconvers %>" data-idClientNow="<%= client[i].client %>" id="buttonNow<%= client[i]._idconvers %>" class="addNewClient btn btn-secondary p-2" >Client <%= i+1 %></button>
                          <% } %>
                      </div>
                    </div>
                  </div>
                  <!-- Affichage information client -->
                <div class='col-sm-3 p-2 backGrey unitAction'>
                  <select class="custom-select bg-dark text-white disparait" id="actionAdmin">
                    <option value="info" selected>Information client</option>
                    <option value="trans">Transfert conversation</option>
                    <option value="inv">Inviter un opérateur</option>
                  </select>
              </div>
          </div>
        </div>
    </div>
  </div>
<!-- Fin partie t'chat -->
    <script type="text/javascript" src="jquery-3.3.1.js"></script>
    <script type="text/javascript" src="bootstrap.js"></script>
    <script src="socket.io-client/dist/socket.io.js"></script>
    <script type="text/javascript" src="scriptadmin.js"></script>
</body>
</html>